.venv/

1-basic-agent/greeting_agent/__pycache__/
1-basic-agent/greeting_agent/.env

2-tool-agent/tool_agent/__pycache__/
2-tool-agent/tool_agent/.env

3-litellm-agent/dad_jokes_agent/.env

4-structured-outputs/email_agent/__pycache__/
4-structured-outputs/email_agent/.env
